body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Navigation bar */

.navbar {
  background-color: #fff;
  padding: 0px;
}

.nav-logo {
  width: 4rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bolder;
  color: #8f8f8f;
}

.nav-item {
  padding: 0px 15px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Tittle Section */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

.main-tittle {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  color: rgb(2, 2, 46);

}

.title-content {
  padding: 10% 5%;
}

.title-content img {
  display: none;
}

#title {
  text-align: left;
  background-color: #fff;
  padding: 1% 5%;
  margin: 0px;
}

.main-row {
  padding: 3% 2%;
}

.download-button {
  margin: 5% 3% 0px 0px;
}

.title-content p {
  color: #8f8f8f;
  padding-right: 20px;
  line-height: 2;
  text-align: justify;
}

/* Tittle image */

.title-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.title-content-image {
  height: 100%;
}

/* product-introduction */

#product-introduction {
  padding: 6% 5%;
  background-color: #aee9fd;
}

.video-intro {
  width: 100%;
}

.product-text {
  padding-top: 7%;
}

#product-introduction .main-tittle {
  color: rgb(2, 2, 46);
}

/* about us */

#about-us {
  padding: 6% 5%;
}

#about-us .main-tittle {
  color: rgb(2, 2, 46);
}

.about-us-icon {
  width: 50%;
}

.about-us-row {
  padding: 3%;
}

a {
  cursor: pointer;
}

.sub-text {
  font-weight: 900;
  font-size: x-large;
  color: rgb(2, 2, 46);
}

.content {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 100%;
  min-width: 200px;
  height: 100%;
  background-color: #fff;
  margin: 15px;
  margin-left: 0px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: coloumn;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}
.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  color: #4e4e4e;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  color: #818181;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}
.card:hover {
  height: 100%;
}
.card:hover .text {
  transition: all 0.5s ease;
  opacity: 1;
  max-height: 40px;
}

.administration-row {
  padding: 2%;
}

.subtitle-text {
  padding-top: 6%;
}

/* credits */

#credits {
  padding: 3% 5%;
  background-color: #aee9fd;
}

.credits-row {
  padding: 3%;
}

.credits-vector {
  padding-top: 6%;
}

#credits .main-tittle {
  color: rgb(2, 2, 46);
}

/* footer */

#footer {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 46);

  padding: 5% 15%;
}

.icons-footer i {
  margin: 20px 10px;
}

/* media querie */

@media (max-width: 991px) {
  .main-row {
    padding: 10px;
  }
  .navbar-toggler {
    position: relative;
    z-index: 1;
  }
  .title-content {
    position: relative;
    z-index: 1;
  }

  .main-content-image {
    position: absolute;
    width: 95%;
  }

  .title-content-image {
    position: relative;
    left: 190px;
    height: 268px;
    bottom: 51px;
    width: 45%;
  }

  .credits-vector {
    padding-top: 6%;
    display: none;
  }

  .video-youtube {
    width: 100%;
  }
}
